

/* Sidebar styling */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s; /* Smooth opening animation */
    padding-top: 60px;
}

/* Sidebar links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/* Close Button */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Main Content Wrapper */
#main {
    transition: margin-left .5s;
    padding: 20px;
    margin-left: 0;
}

/* Responsive adjustment for small screens */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#hover:hover{
    text-decoration: underline;
    text-decoration: darkcyan;
}
.body{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    border-style: groove;
}
#footer{
    background-image: url(images/Abstract\ Blue\ Sliver\ Line\ Background\ Navy\ Overlap\ Layers\ Texture\ With\ Glitter\ Dot\ Element\ Decoration\ Photo\ And\ Picture\ For\ Free\ Download\ -\ Pngtree.jpg);
    height: 150px
    
}